.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.p-card.p-component{
    width: 700px;
}
.row-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:4%;
}
label{
    margin-right: 5%;
}
.user-form{
    width: 600px;
    display: flex;
    justify-content: space-between;
    display: contents !important;
    align-items: center;
}
