<app-nav-bar></app-nav-bar>
<p-card class="patient-personal-information" header="Personal Information">
    <div class="content">
        <form  [formGroup] = "patientDataForm" class="justify-content-center">
            <div class="row">
                <div class="row-item">
                    <label for="first_name">First Name:</label>
                    <input type="text" pInputText class="form-control" formControlName="first_name"/>
                </div>
                <div class="row-item">
                    <label for="last_name">Last Name:</label>
                    <input type="text" pInputText class="form-control" formControlName="last_name"/>
                </div>
                <div class="row-item">
                    <label for="email_id">Email:</label>
                    <input type="email" pInputText class="form-control" formControlName="email_id" />
                </div>
                <div class="row-item">
                    <label for="address">Address:</label>
                    <input type="text" pInputText class="form-control" formControlName="address" />
                </div>
                <div class="row-item">
                    <label for="contact_no">Contact:</label>
                    <input type="text" pInputText  class="form-control" formControlName="contact_no" />
                </div>
                <div class="row-item">
                    <label for="dob">Birth Date:</label>
                    <input type="text" pInputText  class="form-control" formControlName="dob" />
                </div>
                <div class="row-item">
                    <label for="gender">Gender:</label>
                    <input type="text" pInputText class="form-control" formControlName="gender"/>
                </div>
                <div class="row-item">
                    <label for="family_medical_history">Family Medical History:</label>
                    <input type="text" pInputText class="form-control" formControlName="family_medical_history"/>
                </div>
                <div class="row-item">
                    <label for="health_insurance">Health Insaurance number:</label>
                    <input type="text" pInputText class="form-control" formControlName="health_insurance"/>
                </div>
                <div class="row-item">
                    <label for="allergies">Allergies:</label>
                    <input type="text" pInputText class="form-control" formControlName="allergies" />
                </div>
                <div class="row-item">
                    <label for="medical_conditions">Medical Conditions:</label>
                    <input type="text" pInputText class="form-control" formControlName="medical_conditions" />
                </div>
            </div>
            <button mat-flat-button color="primary" type="submit">Save</button>
        </form>
    </div>
</p-card>

<p-card header="Emergency Contact Information" class="medical-information col-md-4">
    <div class="content patient-medical-information">
        <div class="row">
            <form class="patient-emergency-information" [formGroup]="emergencyContactList">
                <button mat-raised-button (click)="addEmergencyContact()" color="primary">+</button>
                <div formArrayName="emergencyContact">
                    <div *ngFor="let group of emergencyContact.controls; let i = index" [formGroupName]="i">
                        <div class="row" style="float: left;">
                            <button (click)="removeEmergencyContact(i)" color="warn">-</button>
                            <div class="row-item">
                                <label for="name">Name:</label>
                                <input type="text" pInputText formControlName="name"/>
                            </div>
                            <div class="row-item">
                                <label for="contact_no">Contact number:</label>
                                <input type="number" pInputText formControlName="contact_no"/>
                            </div>
                            <div class="row-item">
                                <label for="email_id">Email:</label>
                                <input type="email" pInputText formControlName="email_id"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-card>

<p-card header="Medicine Information" class="medicine-information col-md-4">
    <div class="content patient-medicine-information">
        <div class="row">
            <form class="patient-medicine-information" [formGroup]="prescribedMedicationList">
                <button mat-raised-button (click)="addMedication()"  color="primary">+</button>
                <div formArrayName="prescribedMedication">
                    <div *ngFor="let group of prescribedMedication.controls; let i = index" [formGroupName]="i">
                        <div class="row" style="float: left;">
                            <button (click)="removeMedicine(i)" color="warn">-</button>
                            <div class="row-item">
                                <label for="medicine_name">Name:</label>
                                <input type="text" pInputText formControlName="medicine_name"/>
                            </div>
                            <div class="row-item">
                                <label for="medicine_dosage">Dosage:</label>
                                <input type="text" pInputText formControlName="medicine_dosage"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button mat-flat-button color="primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</p-card>

<p-card header="Surgical History" class="medicine-information col-md-4">
    <div class="content patient-medicine-information">
        <div class="row">
            <form class="patient-medicine-information" [formGroup]="surgicalHistoryList">
                <button mat-raised-button (click)="addSurgicalHistory()"  color="primary">+</button>
                <div formArrayName="surgicalHistory">
                    <div *ngFor="let group of surgicalHistory.controls; let i = index" [formGroupName]="i">
                        <div class="row" style="float: left;">
                            <button (click)="removeSurgicalHistory(i)" color="warn">-</button>
                            <div class="row-item">
                                <label for="surgery_date">Surgery Date:</label>
                                <input type="text" pInputText formControlName="surgery_date"/>
                            </div>
                            <div class="row-item">
                                <label for="doctor_name">Doctor Name:</label>
                                <input type="text" pInputText formControlName="doctor_name"/>
                            </div>
                            <div class="row-item">
                                <label for="surgery_name">Surgery Name:</label>
                                <input type="text" pInputText formControlName="surgery_name"/>
                            </div>
                        </div>
                    </div>
                </div>
                <button mat-flat-button color="primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</p-card>

<p-card>
    <form [formGroup]="patientDocumentsList">
        <div formArrayName="patientDocuments">
            <input type="file" multiple (change)="save($event)"/>
            <div *ngFor="let group of patientDocuments.controls; let i = index" [formGroupName]="i">
                <label for="file_name"  style="float: left;">File Name:</label>
                <div style="float: left;">
                    {{ group.get('file_name')?.value }}
                </div>
                <br>
                <label for="file_link"  style="float: left;">File Link:</label>
                <div style="float: left;">
                    {{ group.get('file_link')?.value }}
                </div>
                <br>
            </div>
        </div>
        <button mat-flat-button color="primary" type="submit">Save</button>
    </form>
</p-card>

<button mat-flat-button color="primary" (click)="onSubmitbtnClick()">Submit</button>