
.p-card-content{
    align-items: center;
    display: flex;
    flex-direction: column;
}
label{
    margin-right: 5%;
}
.row-item{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4%;
}
.form{
    margin-bottom: 2%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This sets the container's height to fill the viewport */
  }
.final-submit{
    margin-left: 45%;
}