<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="email" name="email" placeholder="Email" required="true">
                    <input type="password" name="password" placeholder="Password" required="true">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required="true">
                    <button>Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="EmailId" placeholder="Email" required="true">
                    <input type="password" name="Password" placeholder="Password" required="true">
                    <button>Login</button>
                </form>
            </div>
    </div>
</div>