<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form #userForm = "ngForm" (ngSubmit)="onLogin(userForm)">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="email" ngModel name="email" placeholder="Email" required="true">
                    <input type="password" ngModel name="password" placeholder="Password" required="true">
                    <input type="password" ngModel name="confirm_password" placeholder="Confirm Password" required="true">
                    <button>Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form #userLogin = "ngForm" (ngSubmit)="onLogin(userLogin)">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email"  ngModel name="email" placeholder="Email" required="true">
                    <input type="password" ngModel name="password" placeholder="Password" required="true">
                    <button>Login</button>
                </form>
            </div>
    </div>
</div>