
.p-card-content{
    align-items: center;
    display: flex;
    flex-direction: column;
}
label{
    margin-right: 5%;
}
.row-item{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4%;
}
.form{
    margin-bottom: 2%;
}
p-card{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 35%;
}
.submit{
    margin-top: 2%;
    margin-left: 50%
}