.parent {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 600px;
	overflow: hidden;
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.page-title{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.page-label{
	color: #fff;
	justify-content: center;
	display: flex;
}

input{
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: fit-content;
	height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}

.row {
    display: flex;
}


.page-hr-line {
    position: relative;
    left: -15px;
	width: 50%;
}