<p-card header="Doctor Edit Profile">
    <div class="content">
        <form  [formGroup] = "doctorDataForm">
            <div class="row">
                <div class="row-item">
                    <label for="first_name">First Name:</label>
                    <input type="text" pInputText class="form-control" formControlName="first_name"/>
                </div>
                <div class="row-item">
                    <label for="last_name">Last Name:</label>
                    <input type="text" pInputText class="form-control" formControlName="last_name"/>
                </div>
                <div class="row-item">
                    <label for="email_id">Email:</label>
                    <input type="text" pInputText class="form-control" formControlName="email_id" />
                </div>
                <div class="row-item">
                    <label for="address">Address:</label>
                    <input type="text" pInputText class="form-control" formControlName="address" />
                </div>
                <div class="row-item">
                    <label for="contact_no">Contact:</label>
                    <input type="text" pInputText  class="form-control" formControlName="contact_no" />
                </div>
                <div class="row-item">
                    <label for="dob">Birth Date:</label>
                    <p-calendar formControlName="dob"></p-calendar>
                </div>
                <div class="row-item">
                    <label for="gender">Gender:</label>
                    <input type="text" pInputText nclass="form-control" formControlName="gender"/>
                </div>
                <div class="row-item">
                    <label for="qualifications">Qualifications:</label>
                    <input type="text" pInputText nclass="form-control" formControlName="qualifications"/>
                </div>
                <div class="row-item">
                    <label for="keywords">Keywords:</label>
                    <input type="text" pInputText nclass="form-control" formControlName="keywords" />
                </div>
            </div>
            <button mat-flat-button color="primary" (click)="onSubmitbtnClick()">Save</button>
        </form>
    </div>
</p-card>