<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="block-div">
        <p-card header="Upcoming Appointments" class="col-md-4">
            <div class="card xl:flex xl:justify-content-center">
                <p-orderList [value]="appointmentInfo" [listStyle]="{ height: '25rem', width: '15rem' }" header="Appointments">
                    <ng-template let-appointmentInfo pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-2 flex flex-column gap-2">
                                <span class="font-bold">{{ appointmentInfo.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>{{ appointmentInfo.time }}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </p-card>

        <p-card header="Current Patients" class="col-md-4">
            <div class="card xl:flex xl:justify-content-center">
                <p-orderList [value]="currentPatients" [listStyle]="{ height: '25rem', width: '15rem' }" header="Current Patients">
                    <ng-template let-currentPatients pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-2 flex flex-column gap-2">
                                <span class="font-bold">{{ currentPatients.first_name }}</span>&nbsp;
                                <span>{{ currentPatients.last_name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>{{ currentPatients.email }}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </p-card>


        <p-card header="Profile" class="col-md-4">
                <p-image src="../../assets/doctor.png" alt="Image" width="250"></p-image>
                 <div><p>Name: Emily Muller</p></div>
        </p-card>
    </div>
</div>