<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="calender">
        <p-calendar #datePicker [(ngModel)]="selectedDate"   [showIcon]="true" type="text" dateFormat="yy-mm-dd"></p-calendar>
        <button class="submit-btn" mat-raised-button color="basic" (click)="onDateSelected(selectedDate)">submit</button>
    </div>
    <div class="buttons-container">
    <div class="appointment" *ngFor="let timeSlot of availableTimeSlotsFormatted">
        <button mat-raised-button color="primary" (click)="openDialog()">{{ timeSlot }}</button>
    </div>
    </div>
</div>

  