<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="block-div">
        <p-card header="Upcoming Appointments" class="col-md-4">
            <div class="card xl:flex xl:justify-content-center">
                <p-orderList [value]="scheduleData" [listStyle]="{ height: '25rem', width: '23rem' }" header="Upcoming Appointments">
                    <ng-template let-scheduleData pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <div class="flex-2 flex flex-column gap-2">
                                <span class="font-bold">{{ scheduleData.datetime }}</span>
                                <div class="flex align-items-center gap-2" style="width: 100px;">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>{{ scheduleData.doctor_name }}</span>
                                </div>
                                <span>
                                    <p-button class="cancel-button" (click)="cancelAppointment(scheduleData.appointment_id)" label="Cancel"severity="danger"></p-button>
                                </span>
                                
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </p-card>
    </div>
</div>